.health-div {
  background-color: rgb(233, 233, 233);
  border-radius: 0.5rem;
}

.health-counter-div {
  height: 50px;
}

.health-counter {
  position: absolute;
  font-variant-numeric: oldstyle-nums;
  animation-duration: 2s;
  animation-name: slidedown;
  color: white;
}

@keyframes slidedown {
  0% {
    padding-top: 0px;
    color: none;
  }

  20% {
    padding-top: 0px;
    color: rgb(4, 128, 46);
  }

  50% {
    padding-top: 0px;
    color: rgb(4, 128, 46);
  }

  100% {
    padding-top: 20px;
    color: none;
  }
}

.health-animated {
  position: relative;
  height: 50px;
  font-size: 20px;
}

.health-test {
  position: absolute;
  font-variant-numeric: oldstyle-nums;
  color: rgb(6, 50, 112);
  font-size: 20px;
  padding-top: 20px;
  padding-left: 13px;
  animation-name: healthCount;
}

.health-input {
  margin-top: 30px;
}

.progress {
  background-color: rgb(11, 206, 240);
  height: 40px;
  border-radius: 0.5rem;
  transition: 0.5s ease;
  transition-delay: 0s;
}
